try
function function Square . new 3
function function Square . dispose 0
function function Square . draw 0
function function Square . erase 0
function function Square . incSize 0
function function Square . decSize 0
function function Square . moveUp 0
function function Square . moveDown 0
function function Square . moveLeft 0
function function Square . moveRight 0
